
<p>
  <%= link_to "Blog", "http://www.rajasekharkonuru.com" %><br/>
  <%= link_to "Repository", "https://github.com/ksekhar" %><br/>
  <%= link_to "Work Experience", "http://www.linkedin.com/pub/rajasekhar-konuru/19/6a9/b6a" %><br/>
  <%= link_to "Facebook", "http://www.facebook.com/raja.konuru" %><br/>
  <%= link_to "Appspot", "http://gweathermaps.rajasekharkonuru.com" %>
</p>

