<div id="opts_dirs">
<fieldset id="map_options">
  <legend>Map Options</legend>
  <p>
      <%= label_tag :origin, "Origin:" %>
      <%= text_field_tag :origin %>
  </p>
  <p>
      <%= label_tag :destination, "Destination:" %>
      <%= text_field_tag :destination %>
  </p>
  <p>
      <%= check_box_tag :optimize %><%= label_tag :optimize %>
      <%= check_box_tag :highways, {}, true %> <%= label_tag :avoid_highways %>
      <%= check_box_tag :tolls, {}, true %><%= label_tag :avoid_tolls %>
  </p>
  <p>
    <%= button_to_function "Get Directions!", "calcRoute();" %>
    <%= button_to_function "Reset", "reset();" %>
  </p>
</fieldset>
<div id="directionsPanel"></div>
</div>

<div id="map_canvas"></div>

 <div id="msg">Console</div>
